<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Кулындло Ко
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->

  <%= stylesheet_link_tag :icons %>

  <%= stylesheet_link_tag :font %>
  <!-- CSS Files -->

  <%= stylesheet_link_tag :materialdashboard %>

  <%= stylesheet_link_tag :demo %>
</head>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

    <div class="logo">
      <a class="simple-text logo-normal">
        Кулындло Ко
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="">
            <i class="material-icons">dashboard</i>
            <p>Главная</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/poems/new">
            <i class="material-icons">add_comment</i>
            <p>Добавить заумь</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class='row' id="List">
        </div>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="#pablo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <div class="input-group no-border">
                  <input id="SearchValue" type="text" value="" class="form-control" placeholder="Поиск">
                  <button id="SearchButton" onclick="DoSearch()" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
            </div>
          </div>
        </nav>
      </div>
    </div>


</body>
<%= javascript_include_tag "poem.js" %>
</html>