<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Загрузка зауми
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->


  <!-- CSS Files -->
  <%= stylesheet_link_tag :materialdashboard %>

  <%= stylesheet_link_tag :demo %>
</head>
<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
       Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

       Tip 2: you can also add an image using data-image tag
       -->
    <div class="logo">
      <a class="simple-text logo-normal">
        Кулындло Ко
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/poems">
            <i class="material-icons">dashboard</i>
            <p>Главная</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="material-icons">add_comment</i>
            <p>Добавить заумь</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class='row'>


          <div class="col-lg-6 col-md-10 col-sm-10">
            <div class="card card-stats">
              <form method="post" action="/poems" class="inline">
              <div class="card-header card-header-success card-header-icon">
                <br>
                <input type="text" value="" name="poem[name]" id="poem[name]" class="form-control" placeholder="Введите название зауми">
                <hr>
                
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                  <%= csrf_meta_tag -%>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Поле для ввода стихов</label>
                  <textarea name="poem[text]" id="poem[text]" class="form-control" id="exampleFormControlTextarea1" rows="13"></textarea>
                </div>
              </div>
              <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="Отправить">
              </div>
              </form>
            </div>
          </div>

        </div>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="#pablo">Dashboard</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
          </div>
        </nav>
      </div>
    </div>
</body>
</html>









