<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Список пользователей
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->


  <!-- CSS Files -->
  <%= stylesheet_link_tag :materialdashboard %>

  <%= stylesheet_link_tag :demo %>
</head>
<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
       Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

       Tip 2: you can also add an image using data-image tag
       -->
    <div class="logo">
      <a class="simple-text logo-normal">
        Кулындло Ко
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link" href="/poems">
            <i class="material-icons">dashboard</i>
            <p>Главная</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/user">
            <i class="material-icons">person</i>
            <p>Ваш профиль</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="material-icons">list_alt</i>
            <p>Список пользователей</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="poems/new">
            <i class="material-icons">add_comment</i>
            <p>Добавить заумь</p>
          </a>
        </li>
      </ul>
      <form method="post" action="signout" class="inline" >
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <%= csrf_meta_tag -%>
        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
        <button type="submit" name="submit_param" value="submit_value" class="btn btn-link btn-lg">
          <p > <i class="material-icons">exit_to_app</i>&nbsp; Выйти </p>
        </button>
      </form>
    </div>
  </div>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class='row'>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Simple Table</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th>
                      <th>
                        City
                      </th>
                      <th>
                        Salary
                      </th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-primary">
                          $36,738
                        </td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <form class="navbar-form">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Поиск">
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
</body>
</html>